# Fichiers propres à MacOs
*.DS_Store
# Fichiers issus de compilations
*.o
*.mod
# Archives
*.zip
#Resultats
*.out
*.tex
*.png
*.toc
# Inspirations
Fortran/BE Volumes Finis/Inspi1
Fortran/BE Volumes Finis/LAPORTE_MASTIO
# Solutions visual studio code
.vscode


